# Object files
*.o

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
echo_lake

# Tags files
tags

# YCM config
.ycm*

# vim swaps
*.swp
*~

data/maps/data

*Makefile
*Makefile.in
/aclocal.m4
/autom4te.cache/
/config.*
configure
/m4/
/stamp-h?
.deps/
.dirstamp
autoscan.log
missing
compile
configure.ac
depcomp
install-sh
