# Object files
*.o

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
echo_lake

# Tags files
tags

# YCM config
.ycm*

# vim swaps
*.swp
